.navigation_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    color: black;
}

.video_category_wrapper {
    display: flex;
    gap: 1rem;
}

.main_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem;
}

.video_card_container {
    position: relative;
    width: 300px;
    cursor: pointer;
}

.video_thumbnail img {
    width: 100%;
}

.watch_later_btn {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: #FFF;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.video_title {
    font-size: 1.05rem;
    font-weight: 600;
}

.views_creator {
    font-size: 0.9rem;
    color: gray;
}

h1 {
    text-align: center;
}

.video_card_info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: bold;
}

.video_provider_Image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}